// LAYOUT
// =================================================
html {
    width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    max-width: @site_width;
    margin: 0 auto;
}


// Main Body
// -------------------------------------------------
.projects {

    li {
        margin: 10px 0 20px;
    }

    > ul {
        list-style: inside disc;

        li > ul {
            list-style: inside circle;
            margin-left: 35px;
        }
    }
}

@media (min-width:@site_width) {
    section {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
        
        > ul {
            margin-left: 35px;
        }

        ul > li {
            overflow: hidden;
            clear: both;
        }
    }
}

@media (max-width:@site_width) {

    section {
        overflow: hidden;
        margin: 0px 5px;
        border: 1px solid @colour_base;
        .borderRadius(5px);
        
        > * {
            display: none;
            overflow: hidden;
            padding: 5px;
        }

        > h2 {
            display: block;
        }

        &.active {
            > * {
                display: block;
            }

            > h2 {
                border-bottom: 1px solid @colour_base;
                .borderRadius(5px);
            }
        }
    }
}
