// PAGES
// =================================================

.resume-page {
    
    #Contact {

        line-height: 1.1em;

        @media (min-width:@site_width) {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
        }

        @media (max-width:@site_width) {
            border: none;
            margin-bottom: 35px;

            > div {
                display: inline-block;
            }
        }
    }
    
    #Experience {
        
        .projects > li {
            list-style-type: none;
        }
    }

    #Education {

        > ul li {
            list-style-type: inside disc;

            li {
                list-style-type: none;
                text-indent: 12px;
            }
        }
    }
}