{% extends 'base.html' %}
{% load markup %}


{% block body_class %}resume-page{% endblock %}


{% block content %}
<h1>Adrian Borrmann</h1>

<section id="Contact">
    <div><a href="tel:6477050989">647-705-0989</a></div>
    <div><a href="mailto:hello@adrianborrmann.com">hello@adrianborrmann.com</a></div>
    <div class="no-print"><a href="https://bitbucket.org/aborrmann/">Check out my personal projects!</a></div>
</section>

<section id="Skills">
    <h2>Full-stack Development Skills</h2>
    <ul>
        <li>Expert Knowledge of HTML 5, CSS 3, and JavaScript</li>
        <li>Deep experience with open-source software like Ubuntu, Django, PHP, Git, and Subversion</li>
        <li>Proficiency with JavaScript libraries like jQuery, Node.js, Backbone, and others</li>
        <li>Experience integrating Facebook, Twitter, YouTube, and countless other APIs</li>
        <li>Familiar with various analytics engines and SEO principles</li>
        <li>Always curious and continuously improving: I write high-quality, efficient code</li>
    </ul>
</section>

<section id="Experience">
    <h2>Relevant Experience</h2>

    <h3 class="company-logo company-logo-cbc">Senior UI Developer at CBC/Radio-Canada</h3>
    <div class="company-description">
        <p>As a user interface developer, I bring my passion for front-end technologies to deliver a great online audio/video experience for our audience. Our high-traffic, high-visibility audio/video products are powered by my team's code. I take personal pride in developing performant and scalable applications so that our audience can access our content wherever and however they are. This includes special care to ensure our products are accessible on assistive devices and performant on slow internet connections, as well as accessible via third-party APIs.</p>

        <p>
            <strong>Skills used:</strong>
            <ul>
                <li>HTML5 audio and video</li>
                <li>Underscore.js, CSS animations</li>
                <li>Akamai Edgesuite and ESI logic</li>
                <li>WCAG 2.0 and ARIA techniques</li>
                <li>Extensive integration with third parties to develop a quality product</li>
                <li>Modern build processes with Grunt</li>
                <li>Agile workflow with continuous deployment</li>
            </ul>
        </p>
    </div>

    <h3 class="company-logo company-logo-trapeze">Senior Web Application Developer at Trapeze (now <a href="http://www.unioncreative.com">UNION Creative</a>)</h3>
    <div class="company-description">
        <p>I have over 6 years of digital agency experience developing responsive, modern websites.</p>

        <ul class="projects">
            {% for website in websites %}
            <li>
                <h4 class="title">{{ website.name }}</h4>
                <span class="timeframe">{{ website.start_date|date:"F Y" }}&ndash;{% if website.is_current %}Present{% else %}{{ website.end_date|date:"F Y" }}{% endif %}</span>
                <div class="link">
                    <a href="{{ website.url }}">{{ website.url }}</a>
                </div>

                {% if website.description %}
                <div class="description markdown-content">{{ website.description|markdown }}</div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section id="Education">
    <h2>Accomplished Education</h2>
    <p>I love learning new things, and not just web development things. My current challenge is a new language&mdash;French!</p>

    <ul>
        <li>
            <span class="dates">2011&ndash;Present</span>
            <h3>Ryerson University</h3>
            <ul>
                <li>Certificate in Proficiency in French</li>
            </ul>
        </li>
        <li>
            <span class="dates">2007&ndash;2008</span>
            <h3>Sheridan College</h3>
            <ul>
                <li>Graduate Certificate in Interactive Multimedia</li>
            </ul>
        </li>
        <li>
            <span class="dates">2003&ndash;2007</span>
            <h3>The University of Western Ontario</h3>
            <ul>
                <li>Bachelor of Music with a minor in Computer Science</li>
                <li>Certificate in Writing</li>
            </ul>
        </li>
        <li>
            <h3>The Royal Conservatory of Music</h3>
            <ul>
                <li>ARCT Diploma in Piano Performance</li>
            </ul>
        </li>
    </ul>
</section>

<section id="References">
    <h2>References are available</h2>
</section>
{% endblock %}
